/*Header Styles*/
html {
    background-color: rosybrown;
}

.header {
    display: flex;
    background-color: blanchedalmond;
    border-radius: 15px;
}

#siteHeader {
    display: contents;
    width: 100px;
    margin-left: 10px;
}


#siteHeader {
    color: cornflowerblue;
    font-size: xx-large;
}

.headerBio {
    display: block;
}
#siteSubHeader {
    display: block;
    font-size:x-large;
   
}

#headerBio {
    display: inline;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}